html{
    background-color:linear#97DDCF;
}
*{
    margin: 0;
}
h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #97DDCF;
}
h2{
    font-size: 40px;
}
body{
    color: #FFFFFF;
    background-image: linear-gradient(to bottom right, #33475b, #0033CC, #FF77CC, #FF7A59);
}
.myself{
    padding: 30px;
    font-size: 30px;
    font-family: 'Zen Loop', cursive;
}
.random{
    padding: 30px;
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    position: relative;
    background-image: url('../images/Senna.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #FFFFFF;
}
a:hover{
    color:red;
}
a{
    font-weight: 600;
    font-style: italic;
}
#note{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.contact{
    display: block;
    background: black;
    position: relative;
    padding: 30px;
    margin: 0px;
    bottom: 0px;
}
#bold{
    font-weight:800;
}
